{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
		<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

		<!-- fonts -->
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://www.w3schools.com/lib/w3.js"></script>

		<link rel="stylesheet" href="{% static 'polls/css/style.css' %}">
		<script src="{% static 'polls/js/actions.js' %}"></script>

		<title>pollonium: make a poll!</title>
		{% block head %}
		{% endblock %}
    </head>
	<body>
		<div class="page-header">
		   {% if user.is_authenticated %}
				<a href="{% url 'polls:create' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
				<a href="" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
				<p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'polls:logout' %}">Log out</a>)</small></p>
			{% else %}
				<a href="{% url 'polls:login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
			{% endif %}
            <h1><a href="/polls">pollonium: make a poll!</a></h1>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10 content rounded">
				{% block content %}
				{% endblock %}
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</body>
</html>
