{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>pollonium: make a poll!</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'polls/css/style.css' %}">
    </head>
	<body>
		<div class="page-header">
		   {% if user.is_authenticated %}
				<a href="" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
				<a href="" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
				<p class="top-menu">Hello {{ user.username }} <small>(<a href="">Log out</a>)</small></p>
			{% else %}
				<a href="" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
			{% endif %}
            <h1><a href="/polls">pollonium: make a poll!</a></h1>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10 content">
				{% block content %}
				{% endblock %}
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</body>
</html>
