{% extends 'polls/base_create.html' %}

{% block form_content %}

{{ wizard.management_form }}
{% for field in wizard.form %}
<div class="input-group group-choices" id="choice-row{{ forloop.counter }}">
    {{ field }}
    {% if forloop.last %}
    <span class="input-group-btn" id="btn-plus">
        <button class="btn btn-success add-input" type="button">
            <span class="glyphicon glyphicon-plus" />
        </button>
    </span>
    {% else %}
    <span class="input-group-btn">
        <button class="btn btn-danger remove-input" id="remove{{ forloop.counter }}" type="button">
            <span class="glyphicon glyphicon-minus" />
        </button>
    </span>
    {% endif %}
</div>
{% endfor %}
<input type="hidden" id="rowCount" value="{{ wizard.form.fields|length }}" />
{% endblock %}