{% extends 'polls/base.html' %}

{% block content %}

{% with p=poll choices=poll.choice_set.all %}
<div class="text-center">
    <h1>{{ p.title }}</h1>
    <p>by <strong>{{ p.author }}</strong> · {{ p.pub_date|date:"M d, y" }}</p>
</div>
<div class="content-panel rounded">
    <p><span class="glyphicon glyphicon-map-marker detail-icon"></span>{{ p.location }}</p>
    <p><span class="glyphicon glyphicon-align-justify detail-icon"></span>{{ p.description }}</p>
    
    <form role="form" data-toggle="validator" action="{% url 'polls:detail' p.id %}" method="post">
    {% csrf_token %}
        <div class="form-check">
            
            <table class="table pagination-centered">
                <thead class="thead-inverse">
                    <tr>
                        <th></th>
                        {% for choice in choices %}
                            <th>{{ choice.text }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><font color="Green">Total</font></th>
                        {% for choice in choices %}
                            <th><font color="green">{{ choice.vote_count }}</font>
                            {% if p.limit_votes %}
                                / {{ p.votes_max }}
                            {% endif %}
                            </th>
                        {% endfor %}
                    </tr>
                    {% for username, u_choices in vote_table.items %}
                    <tr>
                        <th scope="row">{{ username }}</th> 
                        {% for choice in choices %}
                            <th>
                                {% if choice.id in u_choices %}
                                    <span class="glyphicon glyphicon-ok green" aria-hidden="true"></span>
                                {% endif %}
                            </th>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    {% if not p.is_finished %}
                    <tr>
                        <th scope="row"></th>
                        {% for choice in choices %}
                            <td>
                                <input class="form-check-input" type="radio" name="choice" id="choice{{ forloop.counter }}"
                                    value="{{ choice.id }}"
                                    {% if choice.is_full %}
                                        disabled
                                    {% else %}
                                        required
                                    {% endif %}
                            /></td>
                        {% endfor %}
                    </tr>
                    {% endif %}
                </tbody>
            </table>

            {% if messages %}
                {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success" role="alert">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                {% endif %}
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            
            {% if p.is_finished %}
                <p class="pull-right"><strong>This poll is already closed!</strong></p>
            {% else %}
                <input type="submit" value="Vote" class="btn btn-success pull-right"/>
            {% endif %}

        </div>
    </form>
</div>
{% endwith %}

{% endblock %}
