{% extends 'polls/base.html' %}

{% block content %}
<div class="text-center">
    <h1>{{ poll.title }}</h1>
    <p>by <strong>{{ poll.author }}</strong> · {{ poll.pub_date|date:"M d, y" }}</p>
</div>
<div class="content-panel rounded">
    <p><span class="glyphicon glyphicon-map-marker detail-icon"></span>{{ poll.location }}</p>
    <p><span class="glyphicon glyphicon-align-justify detail-icon"></span>{{ poll.description }}</p>
    <form role="form" data-toggle="validator" action="{% url 'polls:detail' poll.id %}" method="post">
    {% csrf_token %}
        <div class="form-check">
            <table class="table pagination-centered">
                <thead class="thead-inverse">
                    <tr>
                        <th></th>
                        {% for choice in poll.choice_set.all %}
                            <th>{{ choice.text }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><font color="Green">Total</font></th>
                        {% for choice in poll.choice_set.all %}
                            <th><font color="green">{{ choice.vote_count }}</font>
                            {% if poll.limit_votes %}
                                / {{ poll.votes_max }}
                            {% endif %}
                            </th>
                        {% endfor %}
                    </tr>
                    {% for user in users %}
                    <tr>
                        <th scope="row">{{ user }}</th>
                        {% for choice in poll.choice_set.all %}
                            <th>
                                {% if user in choice.get_users %}
                                    <span class="glyphicon glyphicon-ok green" aria-hidden="true"></span>
                                {% endif %}
                            </th>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    {% if not poll.is_finished %}
                    <tr>
                        <th scope="row"></th>
                        {% for choice in poll.choice_set.all %}
                            <td>
                                <input class="form-check-input" type="radio" name="choice" id="choice{{ forloop.counter }}"
                                    value="{{ choice.id }}"
                                    {% if choice.is_full %}
                                        disabled
                                    {% else %}
                                        required
                                    {% endif %}
                            /></td>
                        {% endfor %}
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            {% if messages %}
                {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success" role="alert">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                {% endif %}
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% if poll.is_finished %}
                <p class="pull-right"><strong>This poll is already closed!</strong></p>
            {% else %}
                <input type="submit" value="Vote" class="btn btn-success pull-right"/>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
