{% extends 'polls/base.html' %}

{% block content %}
    <h2>What's people asking</h2>
    {% for poll in latest_polls %}
        <div class="list-group latest-polls">
            <a href="{% url 'polls:detail' poll.id %}" class="list-group-item">
            <h3 class="list-group-item-heading">{{ poll.title }}</h3>
            <p class="list-group-item-text">by {{ poll.author }} · {{ poll.pub_date|date:"M d, y" }}</p>
            </a>
        </div>
    {% empty %}
        <p>Seems nobody is asking anything ...</p>
    {% endfor %}
{% endblock %}
