h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.page-header {
    background-color: #000000;
    margin-top: 0;
    padding: 10px 20px 20px 80px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #E5B504;
    font-size: 36pt;
    text-decoration: none;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #E5B504;
    float: right;
    font-size: 22pt;
    margin-right: 20px;
    margin-top: 30px;
}

.rounded {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.content {
    padding: 20px 40px 40px 40px;
    background-color: #E5B504;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

.content-panel{
    padding: 20px 40px 20px 40px;
    background-color: #ffffff;
}

.detail-icon {
    margin-right: 20px;
    margin-bottom: 10px;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}